@use "../variables/colores" as c;

@mixin imgBackgroundWide {
  background: url(https://res.cloudinary.com/afximagesection/image/upload/v1631156551/bg1_gv72rc.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@mixin solidBackgroundPrincipal {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: c.$principal, $alpha: 0.9);
}
